//homepage-start
.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    gap: 2rem;
    margin-top: 4rem;
    .my-short-bio {
        flex-basis: 70%;
    }
    .image-section {
        flex-basis: 30%;
    }
    @include max(769px) {
        flex-direction: column-reverse;
        height: 90%;
    }
    .hire-me {
        font-size: 1.2rem;
        color: #55e6a5;
    }
}

//service section-start
.my-service {
    background: #02050a;
    padding: 2rem 0;
    .service-detail-wrapper {
        display: flex;
        gap: 1rem;

        @include max(769px) {
            flex-direction: column;
        }

        .service {
            position: relative;
            border: 3px solid #002b16;
            flex-basis: 33.33%;
            padding: 1.5rem;
            margin-top: 5rem;
            width: 100%;
            .title {
                text-align: center;
                margin-top: 2rem;
            }
            .details {
                margin-top: 1rem;
            }
            .icon-wrapper {
                width: 100%;
                position: absolute;
                top: -40px;
                margin: auto -2rem;
            }
        }
    }
}
// service section-end

//about me section-start
.about-me {
    margin-top: 7rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    @include max(679px) {
        flex-direction: column-reverse;
    }
    .left-section {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    .image-section {
        flex-basis: 30%;
        border-top: 1rem solid #55e6a5;
        border-right: 1rem solid #55e6a5;
        padding-right: 2rem;
        padding-top: 2rem;
    }
}
//about me section-end

//homepage-end
